config/config.py
config/nginx/conf.d/default.conf
config/gunicorn/conf.py
media/*
*.pyc
*.log
*.csv
*.xls
*.pdf
*.dump
*.out
*.sqlite3
*.vscode
.idea/*
.idea/workspace.xml
*/.idea/*
.env
*.env
__pycache__/*
*/__pycache__/*