{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}Cambiar Contraseña{% endblock %}

{% block css %}

{% endblock %}

{% block content %}

	<div class="container no-padding">
		<div class="breadcrumbs col-md-7">
			{% if messages %}
				<a href="#" onclick="window.history.go(-2)" class="breadcrumbs__big-arrow"><span class="fa fa-arrow-left"></span></a>
			{% else %}
				<a href="#" onclick="window.history.back()" class="breadcrumbs__big-arrow"><span class="fa fa-arrow-left"></span></a>
			{% endif %}
			<a href="/accounts/changed_password/" class="breadcrumbs__link breadcrumbs__link--active">{% trans "Cambiar Contraseña" %} <span class="fa fa-chevron-down breadcrumbs__arrow"></span></a>
		</div>
	</div>

	<div class="container">
		<div class="body-container">
			<div class="col-md-12 no-padding">
				<header class="toolbar toolbar--bg2">
					<h1 class="toolbar__titulo">
						{% trans "Cambiar Contraseña" %}
					</h1>

				</header>
			</div>
			<div class="row">
				<div class="col-md-12" style="margin: 20px;">
					
					<div class="col-md-4 col-md-offset-4">
						<form class="form" method="post" id="password_form" name="password_form" action="/accounts/changed_password/" onSubmit="javascript:return validar_campos();">{% csrf_token %}
							{{ form.as_p }}
							<input type="hidden" name="usuario" value="{{user.username}}" />
							<p><button class="btn-base" type="submit">{% trans "Guardar" %}</button></p> 
						</form>						
					</div>
					
				</div>
			</div>			
		</div>
	</div>

{% endblock %}

{% block js %}

	<script>

	</script>

{% endblock %}